li:first-child {
    background: url('hero_spritesheet.png') no-repeat -9px -17px;
	width: 57px;
	height: 66px;
}
li:nth-child(2) {
    background: url('hero_spritesheet.png') no-repeat -90px -17px;
	width: 59px;
	height: 66px;
}
li:last-child {
    background: url('hero_spritesheet.png') no-repeat -409px -203px;
	width: 59px;
	height: 66px;
}
li:first-child:hover {
	background:url('hero_spritesheet.png') no-repeat -335px -112px;
	width: 37px;
	height: 67px;
}
li:nth-child(2):hover {
	background: url('hero_spritesheet.png') no-repeat -411px -112px;
	width: 38px;
	height: 67px;
}
li:last-child:hover {
	background: url('hero_spritesheet.png') no-repeat -563px -17px;
	width: 58px;
	height: 66px;
}